<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <div class="ion-text-center">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input  type="text" matInput placeholder="User" >
        </mat-form-field>
      </form>
    </div>
    <div class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger"[routerLink]="['/login']">Recuperar</ion-button>
        </ion-col>
      </ion-row>
      <small>
        Ingrese el mismo USER para recuperar su contraseña.
      </small>
    </div>
  </form>
</ion-content>