<ion-content [fullscreen]="true">
  <p>
    <mat-toolbar color="color">
      <span>Login Te llevo</span>
    </mat-toolbar>
  </p>
  <div id="container">
  <h1>Login</h1>

    <ion-grid>
      <ion-row>
        <ion-col>
          <mat-form-field class="mat">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="user.usuario">
          </mat-form-field>
          <br>
          <br>
          <mat-form-field class="mat">
            <mat-label>password</mat-label>
            <input matInput [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
            
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid>
  <br>
  <ion-button fill="outline" color="color" (click)=ingresar()  [routerLink]="['/home']">Ingresar</ion-button>
  <br>
  <br>
  <a fill="outline" color="color" [routerLink]="['/recuperar-password']">¿Olvidaste tu contraseña?</a>
  </div>
</ion-content>