<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="Inicio">
      <ion-segment-button value="Inicio">
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="role == 1 || role == 2" value="Buscar">
        <ion-label>Buscar un viaje</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="role == 1 || role == 3" value="Realizar">
        <ion-label>Realizar un viaje</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Geolocalizacion">
        <ion-label>Activar Geolocalizacion</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card #card *ngIf="selectedSegment == 'Inicio'">
    <ion-card-content>
      <h1>Bienvenido {{user}}</h1>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="selectedSegment == 'Buscar'">

    <ion-card-content>
      <div *ngFor="let viaje of viajes">

        <ion-card-content>
          <h1>Patente: {{viaje.patente}}</h1>
          <h1>Chofer: {{viaje.chofer}}</h1>
          <h1>Vehiculo: {{viaje.vehiculo}}</h1>
          <h1>Tarifa: {{viaje.tarifa}}</h1>
          <h1>Capacidad del Vehiculo: {{viaje.capacidadVehiculo}}</h1>
          <h1>Destino: {{viaje.destino}}</h1>
          <h1>Origen: {{viaje.origen}}</h1>
         <ion-button fill="outline" *ngIf="viaje.capacidadVehiculo != 0" style="margin-bottom: 10px;" color="success"
            (click)="tomarViajes(viaje.patente)" [disabled]="viajetomado">
            Tomar Viaje
          </ion-button>
          <p fill="outline" *ngIf="viaje.capacidadVehiculo == 0" color="success">Viaje Lleno</p>
        </ion-card-content>

      </div>
    </ion-card-content>

  </ion-card>
  <ion-card *ngIf="selectedSegment == 'Realizar'">

    <ion-card-content>
      <h1>Realizar un viaje</h1>
      <ion-list>
        <ion-list>
          <h1> Chofer: {{user}}</h1>
          <ion-item>
            <ion-input label="Patente del Vehiculo" [(ngModel)]="patente" type="text"
              placeholder="Ingrese patente"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Capacidad del Vehiculo" [(ngModel)]="capacidadVehiculo" type="number"
              placeholder="0"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Vehiculo " [(ngModel)]="vehiculo" placeholder="Ingresar el tipo de vehiculo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Tarifa del viaje" [(ngModel)]="tarifa" type="number" value="$"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Destino " [(ngModel)]="destino" type="text"
              placeholder="Ubicacion de Destino"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Origen" [(ngModel)]="origen" type="text" placeholder="Ubicacion de Origen"></ion-input>
          </ion-item>
          <ion-button fill="outline" (click)="registrarViaje()">Registrar</ion-button>
        </ion-list>
      </ion-list>
    </ion-card-content>

  </ion-card>
  <ion-card *ngIf="selectedSegment == 'Geolocalizacion'">
    <ion-card-content>
      <ion-button fill="outline" (click)="geolocalizar()">Activar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-button fill="outline" (click)="salir()">Volver</ion-button>


</ion-content>